@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Force the body and React root to take up the full screen */
html, 
body, 
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #050505; /* Matches your FindPeople dark background */
  overflow-x: hidden;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}